.messagesList {
  border-bottom: 1px solid #F7FAFF;
  border-right: 2px solid transparent;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 15px;
  padding-bottom: 10px; 
} 
.messagesList:hover {
  background: #FAFAFA;
  border-right: 2px solid #757FEF;
}

/* For dark mode */
[class="dark"] .messagesList {
  border-bottom: 1px solid var(--borderColor);
}
[class="dark"] .messagesList:hover {
  background: var(--colorBlack);
}