.timelineList .tList {
  position: relative;
  padding-left: 20px;
  margin-bottom: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #F7FAFF;
}
.timelineList .tList:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.timelineList .tList::before {
  content: '';
  background: linear-gradient(149.1deg, #99B8F3 14.61%, #177FCB 130.18%);
  box-shadow: 0px 2.98686px 13.4409px rgba(126, 172, 235, 0.25);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  top: 4px;
  left: 0;
}
.timelineList .tList::after {
  content: '';
  background: #F7FAFF;
  width: 3px;
  height: 75px;
  border-radius: 5px;
  position: absolute;
  top: 18px;
  left: 3px;
}
.timelineList .tList h4 {
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 8px;
}
.timelineList .tList .content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.timelineList .tList .content img {
  margin-right: 10px;
  width: 27px;
}
.timelineList .tList .content h5 {
  margin: 0;
  color: #5B5B98;
  font-size: 13px;
  font-weight: 500;
}
.timelineList .tList .date {
  color: #A9A9C8;
  font-size: 12px;
  margin: 0;
}

/* For RTL Style */
[dir="rtl"] .timelineList .tList {
  padding-left: 0;
  padding-right: 20px;
}
[dir="rtl"] .timelineList .tList::before {
  left: auto;
  right: 0;
}
[dir="rtl"] .timelineList .tList::after {
  left: auto;
  right: 3px;
}
[dir="rtl"] .timelineList .tList .content img {
  margin-right: 0;
  margin-left: 10px;
}

/* For dark mode */
[class="dark"] .timelineList .tList {
  border-bottom: 1px solid var(--borderColor);
}
[class="dark"] .timelineList .tList:last-child {
  border-bottom: none;
}
[class="dark"] .timelineList .tList .content h5 {
  color: var(--darkBodyTextColor);
}
[class="dark"] .timelineList .tList::after {
  background: var(--borderColor);
}