.pageTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.pageTitle h1 {
  font-size: 17px;
  margin: 0;
}
.pageTitle ul {
  padding: 0;
  margin: 0;
}
.pageTitle ul li {
  display: inline-block;
  color: #A9A9C8;
  margin-right: 20px;
  position: relative;
  font-size: 14px;
}
.pageTitle ul li:last-child {
  margin-right: 0;
}
.pageTitle ul li:last-child:before {
  display: none;
}
.pageTitle ul li:before {
  content: '/';
  position: absolute;
  right: -13px;
  top: 0;
}
.pageTitle ul li a {
  color: #5B5B98;
  text-decoration: none;
}
.pageTitle ul li a:hover {
  color: var(--primaryColor);
}

@media only screen and (max-width: 767px) {
  .pageTitle h1 {
    font-size: 15px;
  }
  .pageTitle ul li {
    margin-right: 15px;
    font-size: 11px;
  }
  .pageTitle ul li:before {
    right: -10px;
  }
}

/* For RTL Style */
[dir=rtl] .pageTitle ul li {
  margin-right: 0;
  margin-left: 20px;
}
[dir=rtl] .pageTitle ul li:last-child {
  margin-left: 0;
}
[dir=rtl] .pageTitle ul li:before {
  left: -13px;
  right: auto;
}